on:
  push:
    branches:
      - main
      - release/*
      - hotfix/*
  pull_request:
    branches:
      - develop
      - release/*
      - hotfix/*
  workflow_dispatch:

name: R-CMD-check

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: macOS-latest, r: "release"}
          - {os: windows-latest, r: "release"}
          - {os: windows-latest, r: "3.6"}
          - {os: ubuntu-20.04, r: "devel", http-user-agent: "release"}
          - {os: ubuntu-20.04, r: "release"}
          - {os: ubuntu-20.04, r: "oldrel-1"}

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes

    steps:
      # https://github.com/actions/checkout
      - uses: actions/checkout@v3

      - name: System dependencies
        if: ${{ matrix.config.os == 'macOS-latest' }}
        run: brew install gdal

      # https://github.com/r-lib/actions/tree/v2/setup-pandoc
      - uses: r-lib/actions/setup-pandoc@v2

      # https://github.com/r-lib/actions/tree/v2/setup-r
      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}
          use-public-rspm: true

      # https://github.com/r-lib/actions/tree/v2/setup-r-dependencies
      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck
          needs: check

      # https://github.com/r-lib/actions/tree/v2/check-r-package
      - uses: r-lib/actions/check-r-package@v2
        with:
          upload-snapshots: true
