on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

name: test-coverage

jobs:
  test-coverage:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      # https://github.com/actions/checkout
      - uses: actions/checkout@v3

      # https://github.com/r-lib/actions/tree/v2/setup-r
      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      # https://github.com/r-lib/actions/tree/v2/setup-r-dependencies
      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::covr
          needs: coverage

      - name: Test coverage
        run: covr::codecov(quiet = FALSE)
        shell: Rscript {0}
